.input-title {
  width: 372px;
  height: 63px;
  background: #f5f9ff;
  border: 4px solid #82a9ff;
  box-sizing: border-box;
  border-radius: 200px;
  color: #82a9ff;
  margin-bottom: 16px;
}
.input-title._error {
  border: 2px solid #82a9ff;
}
.input-title-wrapper {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 28px;
}
.input-title-wrapper h4 {
  margin-bottom: 16px;
}
