.user-card {
  background: #fff;
  padding: 28px 24px;
  border-radius: 13px;
  border: 1px solid #ebebeb;
  width: 361px;
  height: 325px;
  text-align: left;
  margin-bottom: 30px;
  margin-right: 30px;
}

.user-name {
  font-family: "Alata", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

.user-email {
  font-family: "Alata", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #979797;
}

.user-age {
  font-family: "Alata", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #7f7fd5;
}

.user-avatar {
  border-radius: 35px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}
