.folded-post-wrapper {
  width: 341px;
  height: 296px;
  background: #ffffff;
  border: 1px solid #c6ddff;
  box-sizing: border-box;
  box-shadow: 0px 6px 50px rgba(184, 196, 209, 0.15);
  border-radius: 13px;
}
